@media screen and (max-width: 1200px) and (min-width: 992px) {
  .header-logo {
    margin-right: 0; }

  .slider {
    height: 411px; }

  .description-title {
    font-size: 14px; }

  .description-text {
    font-size: 12px; }

  .connect-link, .connect-link-dr, .connect-link-pin, .connect-link-in, .connect-link-sk, .connect-link-sh {
    margin-right: 18px;
    width: 30px;
    height: 30px; }

  .fa-facebook, .fa-dribbble, .fa-pinterest, .fa-linkedin, .fa-skype, .fa-share-alt {
    padding-top: 4px; }

  .footer-logo {
    margin-left: 8%; } }
/*----------------------------992-------------------------*/
@media screen and (max-width: 992px) and (min-width: 769px) {
  .mobile-menu {
    display: block; }

  .header-nav {
    display: none; }

  .header-nav-sub {
    display: none; }

  .slicknav_menu {
    background: none; }

  .slicknav_btn {
    text-shadow: none;
    background-color: #e8fcfe;
    border: 1px solid #81e4ed;
    border-radius: 5px;
    margin-top: 42px; }

  .slicknav_menutxt {
    font-family: 'Arial';
    color: #000 !important;
    text-shadow: none !important; }

  .slicknav_arrow {
    display: none; }

  .slicknav_icon-bar {
    background-color: #000 !important;
    box-shadow: none !important; }

  .slicknav_nav a:hover {
    background: none !important;
    outline: none; }

  .header-nav-item {
    width: 100%;
    text-align: left;
    padding: 5px 12px; }

  .header-nav-item:hover .header-nav-sub {
    display: block;
    position: static; }

  .header-nav-sub {
    display: block; }

  .slicknav_nav a {
    color: #000; }

  .slider {
    height: 316px; }

  .slider-text {
    top: -290px; }

  .description-block {
    margin-top: 0px;
    margin-bottom: 25px; }

  .slider-works-img {
    height: 130px; }

  .slider-img-hov {
    width: 89%;
    margin-left: 5%; }

  .download-text {
    text-align: justify; }

  .download-button {
    margin-left: 50px;
    margin-top: 82px; }

  .connect {
    margin-left: 14%; }

  .footer-logo {
    margin-left: 13%; } }
/*----------------------------------------------768-------------------------------------*/
@media screen and (max-width: 768px) and (min-width: 480px) {
  .mobile-menu {
    display: block; }

  .header-nav {
    display: none; }

  .slicknav_menu {
    background: none; }

  .slicknav_btn {
    text-shadow: none;
    background-color: #e8fcfe;
    border: 1px solid #81e4ed;
    border-radius: 5px;
    margin-top: 42px; }

  .slicknav_menutxt {
    font-family: 'Arial';
    color: #000 !important;
    text-shadow: none !important; }

  .slicknav_arrow {
    display: none; }

  .slicknav_icon-bar {
    background-color: #000 !important;
    box-shadow: none !important; }

  .slicknav_nav a:hover {
    background: none !important;
    outline: none; }

  .header-nav-item {
    width: 98%;
    margin-right: 2%;
    text-align: left;
    padding: 5px 12px; }

  .header-nav-item:hover .header-nav-sub {
    display: block;
    position: static; }

  .header-nav-sub {
    display: block; }

  .slicknav_nav a {
    color: #000; }

  .slider {
    height: 249px; }

  .slider img {
    height: 250px; }

  .slider-text {
    top: -227px;
    left: 15px;
    font-size: 40px; }

  .description-block {
    margin-top: 16px;
    margin-bottom: 25px; }

  .slider-works-img {
    width: 98%;
    margin: 0 1%;
    height: 160px; }

  .slider-img-hov {
    width: 90%;
    margin-left: 5%; }

  .fa-link {
    margin: 19px 0 0 0; }

  .download-text {
    text-align: justify; }

  .download-button {
    margin-top: 82px; }

  .explore {
    margin-left: 0; }

  .footer-logo {
    margin-left: 6%; } }
/*-----------------------------------479-----------------------------*/
@media screen and (max-width: 479px) and (min-width: 320px) {
  .header-logo {
    margin-right: -1%; }

  .mobile-menu {
    display: block; }

  .header-nav {
    display: none; }

  .slicknav_menu {
    background: none; }

  .slicknav_btn {
    text-shadow: none;
    background-color: #e8fcfe;
    border: 1px solid #81e4ed;
    border-radius: 5px;
    margin-top: 42px; }

  .slicknav_menutxt {
    font-family: 'Arial';
    color: #000 !important;
    text-shadow: none !important; }

  .slicknav_arrow {
    display: none; }

  .slicknav_icon-bar {
    background-color: #000 !important;
    box-shadow: none !important; }

  .slicknav_nav a:hover {
    background: none !important;
    outline: none; }

  .header-nav-item {
    width: 100%;
    text-align: center;
    padding: 5px 12px; }

  .header-nav-item:hover .header-nav-sub {
    display: block;
    position: static; }

  .header-nav-sub {
    display: block; }

  .slicknav_nav a {
    color: #000; }

  .slider {
    height: 249px; }

  .slider img {
    height: 250px; }

  .slider-text {
    top: -227px;
    left: 15px;
    font-size: 32px; }

  .description-block {
    margin-top: 16px;
    margin-bottom: 25px;
    width: 98%;
    margin-left: 1%; }

  .slider-title {
    font-size: 13px;
    margin: 20px 5px 15px;
    width: 60%; }

  .slider-works-buttons {
    width: 30%; }

  .slider-works-img {
    width: 98%;
    margin: 0 1%;
    height: 192px; }

  .slider-img-hov {
    width: 92%;
    margin-left: 4%; }

  .recall,
  .clients,
  .download-button-div,
  .about-us,
  .copyrights-text,
  .footer-logo {
    width: 98%;
    margin: 0 1%; }

  .download-text {
    width: 98%;
    margin: 0 1%;
    text-align: justify; }

  .download-button {
    margin: -3px 0 32px 14%; }

  .explore {
    margin-left: 0;
    width: 48%;
    margin: 0 1%; }

  .browse,
  .contuct-us,
  .connect {
    width: 48%;
    margin: 0 1%; }

  .connect-link, .connect-link-dr, .connect-link-pin, .connect-link-in, .connect-link-sk, .connect-link-sh {
    margin-right: 11px; }

  .copyrights-text {
    margin-top: 10px; }

  .footer-logo {
    margin-top: 16px;
    text-align: right; } }

/*# sourceMappingURL=responsive.css.map */
